.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
  }

  .Divider {
    border-left:1px solid #38546d; 
    border-right:1px solid #16222c; 
    height:80px;
    position:absolute;
    right:249px;
    top:10px; 
}

.numbertext{
    color: lightgreen;
}